@import './variables.scss';


body {
   color: black;
   height: 200vh;
}



// ---------------- LINKS ----------------
a {
   color: inherit;
   text-decoration: none;

   &:hover,
   &:focus,
   &:active {
      background-color: grey;
   }
}


// ---------------- FOOTER ----------------


// ---------------- SOCIALS ----------------

.socials ul {
   display: flex;
   gap: 2rem;
   list-style: none;
}

.socials li {
   text-decoration: none;
}
// ---------------- BUTTONS ----------------
