// ---------------- HEADER STYLES ----------------

.header-container {
   display: flex;
   padding: 1rem;
   // desktop:
   // padding: .8rem 0;
   align-content: center;


   .logo img {
      width: 60px;   

      // media query
      // .logo img {
      //    width: 90px;
      //    height: 90px;
      // }

   }

   
}








 

