// // ---------------- NAVIGATION ---------------- 

/* Nav Styles */

.nav {
  display: flex; 
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 0 1rem;
  margin-left: auto;

  ul {
    padding: 0;
    margin: 0;
    display: flex;
    gap: 1rem;

    li {
      list-style: none;

      &:hover,
      &:active {
        background-color: #777;
      }
    }
    
  }

  a {
    color: inherit;

  }


}



/* Hamburger Menu - Mobile Nav */
.hamburger-icon {
  width: 40px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  margin-left: auto;
}

.open {
transform: rotate(90deg);
}

//  @media (min-width: 37.5em){
//    .nav {
    
//    }
//  }

 
 
