@use "variables" as *;

h1 {
   font-size: 2.5rem;
   font-weight: 800;
   font-style: 'Poppins', sans-serif;
}

h2{
   font-family: 'Poppins', sans-serif;
   font-size: 2rem;
}

// ---------------- TYPOGRAPHY ----------------
body{
   font-family: $font-poppins;
}

h1,
h2,
h3,
h4,
body {
   font-family: $font-poppins;
}

h1 {
   font-size: 2rem;
}

h2 {
   font-size: 1.5rem;
}
