
$color-dark: rgb(29,29, 29);
$color-light: white;
$color-primary: lightblue;

$color-bg: rgb(244, 244, 255);

$spacing-sml: .5rem;
$spacing-med: 1rem;
$spacing-lrg: 2rem;

$border-radius: 12px;

$header-height: 6.25rem;
// $header-height: 4.5rem;

$breakpoint-sml: 37.5em;
$breakpoint-med: 48em;
$breakpoint-lrg: 64em;
$breakpoint-xl: 75em;

$font-poppins: 'Poppins', sans-serif;


// $font-main: 
// $font-heading: 

// $font-sml: ;
// $font-med:
// $font-lrg: 



