.project-details {
    display: flex;
    gap: 4rem;
}

.stack-list {
    padding-left: 0;
}

.tools-card li {
    list-style: none;
}

.project-btn a{
    color: black;
    text-decoration: none;
    text-transform: uppercase;
}

.project-btn {
    background-color: white;
    padding: .6rem 1rem;
    border: 2px solid black;
    border-radius: 3px;
    margin-right: 1rem;
}

